@model IEnumerable<DataAccess.Models.Categorium>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Código</th>
        <th>Nome</th>
    </tr>
    @foreach (var c in Model ?? new List<DataAccess.Models.Categorium>())
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Nome</td>
            <td>
                @using (Html.BeginForm("Alteracao", "Categorium", routeValues: new {id=@c.Id}, FormMethod.Get))
                {
                    <input type="submit" value="Alterar" name="submit" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Remover", "Categorium", routeValues: new {id=@c.Id}, FormMethod.Post))
                {
                    <input type="submit" value="Remover" name="submit" />
                }
                    
            </td>
        </tr>
    }
</table>

<button onclick="location.href='@Url.Action("Cadastro", "Categorium")'">Cadastrar</button>