@model IEnumerable<DataAccess.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Código</th>
        <th>Nome</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.ProductId</td>
            <td>@c.Name</td>
        </tr>
    }
</table>